@import url('index.css');
 header a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    padding-left: 100px;
    /* border: 4px solid white; */
    text-align: center;
    
 }

 .first-part{
    display: flex;
    width: 100%;
    height:auto;
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .first-part .name{
    text-transform: uppercase;
    margin-bottom: 0px;
    color: white;
    width: 900px;
    text-align: center;
 }

 .first-part .serviceOne, .serviceTwo, .serviceThree, .serviceFour, .serviceFive, .serviceSix{
    /* height: 500px; */
    width: 500px;
    height: 500px;
    /* max-width: 400px; */
    border:4px solid white;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
 }