@import url('index.css');

header .head{
    /* border: 4px solid white; */
    color: white;
    /* width: 270px; */
    height: 40px;
    text-align: center;
    margin-left: 45px;
    
    
}
 header .head a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    /* padding-left: 100px; */
    border: 4px solid white;
    border-radius: 10px;
    text-align: center;
    /* width: 300px; */
    height: 30px;
    padding: 2px 5px;
 }

 header .head a:hover{
   border: 4px solid #12677e;
   color: #12677e;
 }
 header .head:hover{
   transform:translateY(-2px);
   transition: 0.5s;
 }
 .first-part{
    display: flex;
    width: 100%;
    height: 100vh;
    /* height:auto; */
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .name{
    text-transform: uppercase;
    margin-bottom: 0px;
    color: white;
    width: 1150px;
    height: 70px;
    text-align: center;
    border:4px solid white;
    border-radius: 10px;
 }
 .name:hover{
   border: 4px solid #12677e;
 }

 .scrollBtn{
  position: fixed;
  bottom: 700px;
  right: 40px;
  width:70px;
  height: 70px;
  background: url(./image/home-3.png);
  background-size: cover;
  cursor: pointer;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  color: white;
 }

 .scrollBtn.active{
  visibility: visible;
  bottom: 40px;
  opacity: 1;
  color: white;
 }

  .serviceOne, .serviceTwo, .serviceThree, .serviceFour, .serviceFive, .serviceSix{
    /* height: 500px; */
    width: 300px;
    height: 200px;
    /* max-width: 400px; */
    border:4px solid white;
    border-radius: 10px;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  .serviceOne:hover, .serviceTwo:hover, .serviceThree:hover, .serviceFour:hover, .serviceFive:hover, .serviceSix:hover{
   border: 4px solid #12677e;
 }

 .head{
   height:150px;
 }
  .head a{
    color:white;
    text-decoration: none;
    font-size:20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: o;
    cursor: pointer;
    
 }
 .head a h3{
  font-size: 18px;
 }
 .agri{
   max-height: 150px;
   box-sizing: border-box;
   padding-bottom: 20px;
   /* display: block; */
   
 }
  .image{
    box-sizing: border-box;
   
    /* width:min-content;
    height: auto; */
    cursor: pointer;
    max-height: 150px;
    height: 80px;
    width: 150px;
    object-fit: contain;
 }

 .servicesFirst, .servicesThird, .servicesFifth{
  background: #061232;
 }
 .servicesSecond, .servicesFourth, .servicesSixth{
  background: #0C1425;
 }
 .title{
  text-align: center;
  font-size: 30px;
  padding: 20px;
 }
 .title h3{
  margin: 0px;
  color: white;
 }
 .wrap{
  display: flex;
  height: 86vh;
 }
 .imageBlock{
  display: flex;
  margin-left: 60px;
  border-radius: 4px;
  justify-content: center;
 
 }
 .imageBlock img{
  width:250px;
  border-radius: 4px;
  object-fit: contain;
  
 }
 .textBlock{
  margin-left: 20px;
  margin-right: 60px;
 }
 .textBlock p{
  color: white;
 }