@import url('index.css');
header a{
  margin-top:-20px;
  margin-left: 32px;
  text-decoration:none;
  color:yellowgreen;
  padding: 10px 30px;
  text-transform: uppercase;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  position:absolute;
  overflow:hidden;
  border-radius: 8px;
}

header a:before{
  content:"";
  position:absolute;
  top:2px;
  left:2px;
  bottom:2px;
  width:50%;
  background: rgba(255, 255, 255, 0.05);
}
header a span:nth-child(1){
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:2px;
  background: linear-gradient(to right, #0c002b, greenyellow);
  animation: animateTop 2s linear infinite;
}

header a span:nth-child(2){
   position:absolute;
  top:0px;
  right:0px;
  width:2px;
  height:100%;
  background: linear-gradient(to bottom, #0c002b, greenyellow);
  animation: animateRight 2s linear infinite;
  animation-delay: 1s;
}

header a span:nth-child(3){
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  height:2px;
  background: linear-gradient(to left, #0c002b, #12677e);
  animation: animateBottom 2s linear infinite;
}

header a span:nth-child(4){
  position:absolute;
  top:0px;
  left:0px;
  width:2px;
  height:100%;
  background: linear-gradient(to top, #0c002b, #12677e);
  animation: animateLeft 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animateTop{
  0%{
    transform: translateX(-100%);
  }
  100%{
     transform: translateX(100%);
  }
}

@keyframes animateRight{
  0%{
    transform: translateY(-100%);
  }
  100%{
     transform: translateY(100%);
  }
}

@keyframes animateBottom{
  0%{
    transform: translateX(100%);
  }
  100%{
     transform: translateX(-100%);
  }
}

@keyframes animateLeft{
  0%{
    transform: translateY(100%);
  }
  100%{
     transform: translateY(-100%);
  }
}

/* header .head{
    color: white;
    height: 40px;
    text-align: center;
    margin-left: 45px;
    
    
}
 header .head a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    border: 4px solid white;
    border-radius: 10px;
    text-align: center;
    height: 30px;
    padding: 2px 5px;
 }

 header .head a:hover{
   border: 4px solid #12677e;
   color: #12677e;
 }
 header .head:hover{
   transform:translateY(-2px);
   transition: 0.5s;
 } */


 .first-part{
    display: flex;
    width: 100%;
    height: 100vh;
    /* height:auto; */
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .name{
    display: flex;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: white;
    width: 1150px;
    height: 30px;
    text-align: center;
    border:2px solid white;
    border-radius: 10px;
    justify-content: center;
    padding-bottom: 15px;
 }
 .name:hover{
   border: 2px solid #12677e;
   -webkit-box-shadow: 19px -22px 50px -14px rgba(233, 242, 240, 0.57);
   -moz-box-shadow: 19px -22px 50px -14px rgba(226, 239, 236, 0.57);
    box-shadow: 19px -22px 50px -14px rgba(216, 228, 226, 0.57);
 }

 .name h2{
  font-size: 20px;
  /* text-align: center;
  align-items: center;
  justify-content: center; */
 }

 .scrollBtn{
  position: fixed;
  bottom: 700px;
  right: 40px;
  width:70px;
  height: 70px;
  background: url(./image/home-3.png);
  background-size: cover;
  cursor: pointer;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  color: white;
 }

 .scrollBtn.active{
  visibility: visible;
  bottom: 40px;
  opacity: 1;
  color: white;
 }

  .serviceOne, .serviceTwo, .serviceThree, .serviceFour, .serviceFive, .serviceSix{
    /* height: 500px; */
    width: 300px;
    height: 200px;
    /* max-width: 400px; */
    border:2px solid white;
    border-radius: 10px;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
  .serviceOne:hover, .serviceTwo:hover, .serviceThree:hover, .serviceFour:hover, .serviceFive:hover, .serviceSix:hover{
   border: 2px solid #12677e;
   -webkit-box-shadow: 19px -22px 50px -14px rgba(233, 242, 240, 0.57);
   -moz-box-shadow: 19px -22px 50px -14px rgba(226, 239, 236, 0.57);
    box-shadow: 19px -22px 50px -14px rgba(216, 228, 226, 0.57);
 }

 .head{
   height:150px;
 }
  .head a{
    color:white;
    text-decoration: none;
    font-size:20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: o;
    cursor: pointer;
    
 }
 .head a h3{
  font-size: 18px;
 }
 .agri{
   max-height: 150px;
   box-sizing: border-box;
   padding-bottom: 20px;
   /* display: block; */
   
 }
  .image{
    box-sizing: border-box;
   
    /* width:min-content;
    height: auto; */
    cursor: pointer;
    max-height: 150px;
    height: 80px;
    width: 150px;
    object-fit: contain;
 }

 .servicesFirst, .servicesThird, .servicesFifth{
  background: #061232;
 }
 .servicesSecond, .servicesFourth, .servicesSixth{
  background: #0C1425;
 }
 .title{
  text-align: center;
  font-size: 30px;
  padding: 20px;
 }
 .title h3{
  margin: 0px;
  color: white;
 }
 .wrap{
  display: flex;
  height: 86vh;
 }
 .imageBlock{
  display: flex;
  margin-left: 60px;
  border-radius: 4px;
  justify-content: center;
 
 }
 .imageBlock img{
  width:250px;
  border-radius: 4px;
  object-fit: contain;
 
 }
 img:hover{
  -webkit-box-shadow: 19px -22px 50px -14px rgba(233, 242, 240, 0.57);
  -moz-box-shadow: 19px -22px 50px -14px rgba(226, 239, 236, 0.57);
   box-shadow: 19px -22px 50px -14px rgba(216, 228, 226, 0.57);
 }
 .textBlock{
  margin-left: 20px;
  margin-right: 60px;
 }
 .textBlock p{
  color: white;
 }